## Relatório de Análises IV

## Seleções

In [2]:
import pandas as pd

In [9]:
data = pd.read_csv('Data/aluguel_residencial.csv', sep=';')
data.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [11]:
data['Tipo'].unique()

array(['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio',
       'Casa de Vila'], dtype=object)

## Somente Apartamentos

In [10]:
data_apt = data.query("Tipo == 'Apartamento'")
data_apt.index = range(data_apt.shape[0])
data_apt

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
2,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
3,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
4,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
19527,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,NaN
19528,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
19529,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
19530,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
19531,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

## Somente Casas, Casas de Condomínio e Casas de Vila

In [13]:
data_casas = data.query("Tipo in ['Casa', 'Casa de Condomínio', 'Casa de Vila']")
data_casas.index = range(data_casas.shape[0])
data_casas

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
1,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
2,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
3,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
4,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,NaN
...,...,...,...,...,...,...,...,...,...
2207,Casa de Condomínio,Freguesia (Jacarepaguá),3,3,1,155,2000.0,530.0,1250.0
2208,Casa,Bento Ribeiro,2,1,0,60,1400.0,NaN,NaN
2209,Casa de Condomínio,Barra da Tijuca,3,5,3,1000,20000.0,3000.0,NaN
2210,Casa,Centro,5,0,1,160,5000.0,NaN,80.0
2211,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0

## Área entre 59 m² e 101 m²

In [15]:
data_area = data.query("60 <= Area <= 100")
data_area.index = range(data_area.shape[0])
data_area

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
1,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
2,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
...,...,...,...,...,...,...,...,...,...
8714,Apartamento,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,NaN
8715,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0
8716,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
8717,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
8718,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

## 4 quartos e aluguel menor que R$ 2000,00

In [18]:
data_4q_m2000 = data.query("Quartos == 4 and Valor < 2000")
data_4q_m2000.index = range(data_4q_m2000.shape[0])
data_4q_m2000

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,830.0,NaN
1,Apartamento,Taquara,4,1,1,110,1900.0,NaN,NaN
2,Casa,Campo Grande,4,1,4,100,1600.0,NaN,NaN
3,Casa,Engenho de Dentro,4,3,0,120,1500.0,NaN,NaN
4,Apartamento,Recreio dos Bandeirantes,4,2,2,125,1700.0,NaN,90.0
5,Casa de Vila,Méier,4,0,1,85,1600.0,NaN,NaN
6,Casa,Campo Grande,4,1,0,140,1700.0,NaN,NaN
7,Apartamento,Campo Grande,4,2,1,115,1900.0,500.0,NaN
8,Apartamento,Recreio dos Bandeirantes,4,2,1,105,1900.0,1492.0,205.0
9,Apartamento,Cidade Nova,4,0,0,110,1300.0,NaN,NaN
10,Apartamento,Pechincha,4,1,2,178,1900.0,1100.0,270.0
11,Casa,Riachuelo,4,0,1,100,1800.0,NaN,40.0
12,Casa,Méier,4,1,1,125,1900.0,NaN,NaN
13,Apartamento,Recreio dos Bandeirantes,4,2,3,280,1800.0,1400.0,580.0
14,Apartamento,Recreio dos Bandeirantes,4,3,2,250,1500.0,1380.0,700.0
15,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,1093.0,183.0
16,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,1038.0,158.0
17,Casa de Condomínio,Taquara,4,1,0,110,1750.0,550.0,993.0
18,Apartamento,Leme,4,0,1,185,1800.0,2000.0,270.0
19,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,930.0,150.0
20,Apartamento,Camorim,4,1,1,96,1350.0,747.0,NaN
21,Apartamento,Barra da Tijuca,4,3,4,148,1600.0,1766.0,NaN
22,Casa,Praça Seca,4,1,1,128,1600.0,NaN,228.0
23,Casa de Condomínio,Freguesia (Jacarepaguá),4,2,1,120,1800.0,195.0,30.0
24,Casa,Pedra de Guaratiba,4,1,0,100,1300.0,NaN,NaN
25,Apartamento,Campo Grande,4,2,2,160,1900.0,880.0,NaN
26,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,912.0,160.0
27,Apartamento,Rio Comprido,4,1,0,110,1650.0,500.0,NaN
28,Casa,Campo Grande,4,3,0,120,1700.0,NaN,NaN
29,Apartamento,Taquara,4,3,1,190,1200.0,NaN,NaN
30,Casa,Campo Grande,4,0,1,366,1890.0,NaN,208.0
31,Casa,Campo Grande,4,0,0,159,1800.0,NaN,NaN
32,Casa,Braz de Pina,4,1,0,99,1800.0,NaN,NaN
33,Casa,Campo Grande,4,1,3,100,1600.0,NaN,NaN
34,Casa,Campo Grande,4,1,2,180,1850.0,300.0,NaN
35,Apartamento,Campo Grande,4,1,1,80,1600.0,950.0,NaN
36,Apartamento,Barra da Tijuca,4,3,4,148,1500.0,1600.0,196.0
37,Apartamento,Vargem Grande,4,0,1,180,1900.0,NaN,176.0
38,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,1038.0,NaN
39,Casa,Campo Grande,4,2,0,120,1600.0,NaN,NaN